fontmake>=3.8.0
fonttools[ufo,unicode,woff]>=4.40
uharfbuzz>=0.23.0
ufo2ft>=3.7.0
fontra-compile @ git+https://github.com/fontra/fontra-compile.git
aiohttp==3.14.3
setuptools==82.0.1
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6-sip==13.10.3
psutil==7.2.2
certifi==2026.5.20
